@font-face {
	font-family: 'Conv_MisterBrush';
	src: url('https://deadforest1.github.io/Dear-diary.minor/fonts/MisterBrush.eot');
	src: local('☺'), url('https://deadforest1.github.io/Dear-diary.minor/fonts/MisterBrush.woff') format('woff'), url('https://deadforest1.github.io/Dear-diary.minor/fonts/MisterBrush.ttf') format('truetype'), url('https://deadforest1.github.io/Dear-diary.minor/fonts/MisterBrush.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Letmeshowyou_font';
	src: url('https://deadforest1.github.io/Dear-diary.minor/fonts/Letmeshowyou_font.eot');
	src: local('☺'), url('https://deadforest1.github.io/Dear-diary.minor/fonts/Letmeshowyou_font.woff') format('woff'), url('https://deadforest1.github.io/Dear-diary.minor/fonts/Letmeshowyou_font.ttf') format('truetype'), url('https://deadforest1.github.io/Dear-diary.minor/fonts/Letmeshowyou_font.svg') format('svg');
	font-weight: normal;
	font-style: normal;}

html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url("static/images/ksusha-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
}



.header {
    background-color: black;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}


.logo a {

    font-family: 'Conv_Letmeshowyou_font';
    font-size: 25px;
    text-decoration: none;
    color: rgb(213, 213, 213);
    transition: all .1s ease-in-out;
}


.logo a:hover {
    font-family: 'Conv_Letmeshowyou_font';
    font-size: 27px;
    text-decoration: none;
    color: rgb(213, 213, 213);
}


.contacts {
    padding: 10px;
}

.img-increase img {
    transition: all .1s ease-out;
    margin: auto;
    height: 5vh;
    width: 5vh;
}

.img-increase img:hover {
    transform: scale(1.1);

}


.navbar {
    display: flex;
    z-index: 2;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, .2);
}

.navbar_scrolled {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0
}

.navbar-menu {
    height: inherit;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar-menu li {
    height: inherit;
    list-style-type: none;
    position: relative;
    width: 20vh;
    min-width: 60px;


}

.contacts {
    padding: 5vmin;
}

.img-increase img {
    transition: all .1s ease-out;
    margin: auto;
    height: 50px;

}

.img-increase img:hover {
    transform: scale(1.1);

}



.navbar-menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    text-decoration: none;
    font-family: 'Conv_MisterBrush';
    font-size: 13px;
    color: white;
    min-width: inherit;
    border-right: 0.1px solid black;
    transition: all .1s ease-in-out;



}

.navbar-menu li a:hover {
    background-color: rgb(31, 30, 30);


}

.active {
    background-color: rgb(234, 109, 222);
}

.navbar-menu li a.active:hover {
    background-color: rgb(227, 88, 213)
}


.title {
    display: flex;
    align-items: center;
    justify-content: left;
}

.title p {
    font-family: 'Conv_Letmeshowyou_font';
    font-size: 20px;
    color: #0e0e0e;
    background-color: rgba(251, 251, 251, 0.7);
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    box-shadow: 0vh 8px 10px rgba(255, 255, 255, 0.5);

}

.content-area {
    background-image: url("static/images/sheet1.png");
    background-size: 100% 100%;
    height: 60%;
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    min-height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;


}

.text-area {
    size: inherit;
    padding: 100px;
    min-width: 200px;

}

.text-area p {
    font-size: 15px;
    font-family: 'Conv_MisterBrush';
    color: #0e0e0e;

}

.title {
    display: flex;
    align-items: center;
    justify-content: left;
}

.title p {
    font-family: 'Conv_Letmeshowyou_font';
    font-size: 20px;
    color: #0e0e0e;
    background-color: rgba(251, 251, 251, 0.7);
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    box-shadow: 0vh 8px 10px rgba(255, 255, 255, 0.5);

}

span a {
    text-decoration: none;
    color: rgb(234, 109, 222)
}

.content-area a:hover {
    color: rgb(218, 40, 200);
}


.footer {

    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer p {
    font-family: 'Conv_MisterBrush';
    color: white;
    font-size: calc(10px + 0.5v);

}

.fixed-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
