@font-face {
	font-family: 'Conv_MisterBrush';
	src: url('https://deadforest1.github.io/Dear-diary.minor/fonts/MisterBrush.eot');
	src: local('☺'), url('https://deadforest1.github.io/Dear-diary.minor/fonts/MisterBrush.woff') format('woff'), url('https://deadforest1.github.io/Dear-diary.minor/fonts/MisterBrush.ttf') format('truetype'), url('https://deadforest1.github.io/Dear-diary.minor/fonts/MisterBrush.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Letmeshowyou_font';
	src: url('https://deadforest1.github.io/Dear-diary.minor/fonts/Letmeshowyou_font.eot');
	src: local('☺'), url('https://deadforest1.github.io/Dear-diary.minor/fonts/Letmeshowyou_font.woff') format('woff'), url('https://deadforest1.github.io/Dear-diary.minor/fonts/Letmeshowyou_font.ttf') format('truetype'), url('https://deadforest1.github.io/Dear-diary.minor/fonts/Letmeshowyou_font.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    padding: 0;
    margin: 0;
}  
    


.header {
    height: 90px;
    background: #0e0e0e;
}

.container {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: left;
    align-items: center;
    
}



.logo a{
    font-family: 'Conv_Letmeshowyou_font';
    font-size: 29px;
    text-decoration: none;
    color: rgb(213, 213, 213);
    transition: all .1s ease-in-out;}
    

.logo a:hover{
    font-family: 'Conv_Letmeshowyou_font';
    font-size: 31px;
    text-decoration: none;
    color: rgb(213, 213, 213);}

.contacts{
    padding: 40px;
    
}



.navbar{
    display: flex;
    position: absolute;
    z-index: 500;
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
}

.navbar_scrolled{
    position: fixed;
   
    top: 0;
    left: 0%;
    margin-top: 0
    
    
}


.navbar-menu{
   height: inherit;
   display: flex;
   align-items: center;
   width: 100%;
   padding: 0;
   margin: 0;
}

.navbar-menu  li{
    
    list-style-type: none;
    position: relative;
    
    
}


.navbar-menu  li  a{
    height: inherit;
    text-decoration: none;
    font-family: 'Conv_MisterBrush';
    color: white;
    padding-top: 10px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 10px;
    border-right: 0.1px solid black;
    transition: all .1s ease-in-out;
    
    
}

.navbar-menu  li  a:hover{
    background-color: rgb(31, 30, 30);
    
    
}


.content-area{
   margin-top: 50px;
   position: relative;
   background-image: url("https://deadforest1.github.io/Dear-diary.minor/static/images/sheet1.png" );
   background-size: 800px 500px;
   height: 500px;
   width: 800px;
   text-align: center ;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   
}


.content-area p{
    margin-left: 30px;
    position: relative;
    font-family: 'Conv_MisterBrush';
    color: #0e0e0e;
    

}

input::-webkit-input-placeholder{
    font-family: 'Conv_MisterBrush';
    padding-left: 3px;;

}

input[type="text"] {
    border: 2px solid rgb(234, 109, 222);
    border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    -khtml-border-radius: 10px; 
    background: #ffffff !important; 
    outline: none;
    height: 20px;
     
    
 }

 
input[type='button']{
    font-family: 'Conv_MisterBrush';
    background-color: rgb(234, 109, 222);
    color:#ffffff;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    width: 25%;
    text-align: center;

    
}


input[name='result']{
    border: 2px solid rgb(234, 109, 222);
    border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    -khtml-border-radius: 10px; 
    background: #ffffff !important; 
    outline: none;
    height: 20px;}

input[type='Submit']{
    background-color: rgb(234, 109, 222);
        color:#ffffff;
        font-family: 'Conv_MisterBrush';
        padding: 10px 20px;
        margin-right: 10px;
        border: none;
        border-radius: 20px;
}


input[type='button']:hover{
    background-color: rgb(239, 55, 221);
    
}

input[type='Submit']:hover{
    background-color: rgb(239, 55, 221);
    
}


.content-area p:first-child{
    font-size: 20px;
    color: rgb(234, 109, 222);}



.title p{
    display: inline-block;
    margin: 60px 0px 0px 50px;
    /* position: absolute;
    margin-top: 65px;
    margin-left: 50px; */
    font-family: 'Conv_Letmeshowyou_font';
    font-size: 25px;
    color: #0e0e0e;
    background-color: rgba(251, 251, 251, 0.7);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 7px 12px rgba(255, 255, 255, 0.5);

}

span a{
    text-decoration: none;
    color: rgb(234, 109, 222);
}

.content-area a:hover{
    color: rgb(218, 40, 200);
}


.footer{
    margin-top: 50px;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer p{
    position: relative;
    font-family: 'Conv_MisterBrush';
    color: white;
    font-size: 20px;

}


.img-increase img {
    padding: 10px;
    transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
}

.img-increase img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}



    






    
